<p>log-creation-form works!</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <button class="primary" (click)="onGetALog()">get a log</button>
      <button class="primary" (click)="onGetLogById()"> Get Log By Id</button>
      <button class="primary" (click)="onGetLogs()"> get logs by tag</button>
      <button class="primary" (click)="onPostFBLog()">post a FB log</button>
    </div>
  </div>
</div>

<p>log: {{ log }}</p>
app-creation-form
<app-creation-form></app-creation-form>
