<div> 
  <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="form-control">
        <input class="input" type="text" formControlName="title">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Log text</label>
      <textarea class="form-control" formControlName="lines" rows="4"></textarea>
    </div>
    <div class="form-group">
      <input type="text" formControlName="tag">
    </div>
    <p>{{log.id}}</p>
    <p>{{createMode}}</p>
    <div>
      <button type="submit" class="btn btn-primary">Modify</button>
    </div>
  </form>
</div>
